<h3><%=name%></h3>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Name</span>
    <input id="company-name" type="text" class="form-control" value="<%=name%>" aria-describedby="basic-addon1"/>
</div>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Address</span>
    <input id="company-address" type="text" class="form-control" value="<%=address%>" aria-describedby="basic-addon1" />
</div>
<hr />
<button id="btn-back" class="btn btn-primary">Back</button>
<button id="btn-save" class="btn btn-success">Save</button>
