<table class="table table-striped">
    <thead>
        <tr>
            <td class="col-tb-3">Navn</td>
            <td class="col-tb-2">Adresse</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
            <td class="col-tb-1">Stuff</td>
            <td class="col-tb-1">Stash</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<button id="navigate-back"><</button>
<button id="navigate-forward">></button>
<br /><br>
<div>
    <input type="text" id="company-name" />
    <div class="input-group">
        <input id="from-date" type="text" class="form-control" placeholder="yyyy-mm-dd">
        <span class="input-group-addon" data-toggle="booty-datepicker">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <input id="to-date" type="text" class="form-control" placeholder="yyyy-mm-dd">
        <span class="input-group-addon" data-toggle="booty-datepicker">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <button id="btn-dates">Se datoer</button>
</div>
<div id="chartview"></div>
<div id="confirm-dialog"></div>
