<td class="col-tb-3 wrappable"><a href="#company/<%=id%>"><%=name%></a></td>
<td class="col-tb-2 wrappable"><%=address%></td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
<td class="col-tb-1">Stuff</td>
<td class="col-tb-1">Stash</td>
